 
  .contentForm{
      font-weight: bold;
    }
  
  h3{
    margin:0}
  label{
      color: #1d1d1d;
  }
  .contentForm h3{
    color:rgb(250, 250, 250);
    font-size: 25px;
    text-transform:capitalize;
    text-align: center;
    text-shadow: 0 0 15px rgba(236, 236, 236, 0.671); 
    letter-spacing:1px;
  }
  
  .contentForm form{
    padding: 15px;  
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: darkgray;
    background-color: rgba(230, 230, 230, 0.678);
    margin-top: 10px;
}
  
  label, input[type="email"],input[type="password"] {
    display: block;
    margin-bottom: 8px;
    width: 100%; 
  }
  
  input[type="email"],input[type="password"]{
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #aaa;
    color: #1d1d1d;
    font-weight: bold;
    border: none;
    padding-left: 40px
  }
  .buttonLink{
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 12px;
    background-color:  #1d1d1d;
    color: #d4d4d4;
    font-weight: bold;
    border: none;
    text-decoration: none;

  }
  .buttonLink:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 10px black;
  }
  
  .btn-control{
    text-align: right;
    margin-top: 20px;
  }
  
  .btn-control .btn{
    width: 50%;
    display: inline;
    border:none;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
  }
  
 
 
  .gris{
    background-color: #ccc;
    color: #fff;
  }
  
  .yellowgreen{
    background-color: yellowgreen;
     color: #fff;}
  
  .contentForm i{
    position: absolute;
    font-size: 18px;
    color: #1a237e;
    padding:7px 10px;
  }